/out/
/target/
/project/project/
/project/target/
/.idea/
/deploy/playbooks/*.retry
/deploy/envs/*/developer.conf.yml
/*.iml
/.gradle/
/build/
/.idea_modules/
/project/boot
/metastore_db/
/derby.log
/amm.sbt
/ammonite.sbt
/.project
/lib
*~